__pycache__
/.rp6502
/build
tools
CMakeUserPresets.json
CMakeLists.txt
.DS_Store
Sprites
*.swp
*.swo
*.bak
*.tmp
*.log
*.out
*.o
*.elf
*.hex
*.map
*.lst
*.d
*.obj
*.lib
*.exp
*.pdb
*.idb
*.ilk
*.sbr
*.ncb
*.suo
*.user
*.class
*.jar
*.war
*.ear
*.iml
.idea/
.venv