__pycache__
/.rp6502
/build
CMakeUserPresets.json
/tools
CMakeLists.txt
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.log
*.out
*.o
*.elf
*.bin
*.hex
*.map
*.lst
*.d
*.obj
*.lib
*.exp
*.pdb
*.idb
*.ilk
*.sbr
*.ncb
*.suo
*.user
*.class
*.jar
*.war
*.ear
*.iml
.idea/